[Unit]
Description=Discord Bot App
After=network.target
Wants=network.target

[Service]
WorkingDirectory=/Sydney-Riley-Project
ExecStart=java -jar target/dbot-1.0-SNAPSHOT-jar-with-dependencies.jar
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
